$dmBlack: #000000;
$dmBlackFade: rgba(0, 0, 0, 0.65);
$dmDarkBlue: #08050f;

$dmPurple: #1c0b3d;
$dmLightPurple: #32136f;
$dmLightPurpleFade: rgba(50, 19, 111, 0.25);

$dmShadowDarkBlue: #203647;
$dmShadowLightBlue: #eefbfb;

$dmYellow: #70640a;

$dmRed: #9e363a;
$dmRedFade: rgba(255, 27, 27, 0.3);
$dmBtnPrimayColor: linear-gradient(to right, #720000, #947b4c);
